@use 'styles/variables';
@use 'styles/theme';
@import 'highlight.js/styles/github-dark-dimmed.css';

*,
*::before,
*::after { box-sizing: border-box; }

.typewriter-large {
  font-size: 5rem;
  letter-spacing: 0.25rem;
  font-weight: bold;
  padding-right: 0.5rem;
  color: white;
}
