<div class="row"
     [class.user]="message?.author === 'USER'"
     [class.assistant]="message?.author === 'ASSISTANT'">

  <ng-container *ngIf="message?.author === 'ASSISTANT'; else userAvatar">
    <app-orb-icon class="avatar" [size]="22" [animate]="true"></app-orb-icon>
  </ng-container>
  <ng-template #userAvatar>
    <div class="avatar user">🧑‍💻</div>
  </ng-template>

  <div class="bubble">
    <app-markdown-viewer [content]="message?.content || ''"></app-markdown-viewer>
  </div>
</div>
