<div class="row" [class.user]="message.author==='USER'" [class.assistant]="message.author==='ASSISTANT'">
  <ng-container *ngIf="message.author==='ASSISTANT'; else userAvatar">
    <app-orb-icon class="avatar" [size]="22" [animate]="true"></app-orb-icon>
  </ng-container>
  <ng-template #userAvatar>
    <div class="avatar user">🧑‍💻</div>
  </ng-template>

  <div class="bubble">
    <div class="content">{{ message.content }}</div>
    <div class="ts">{{ message.timestamp | date:'short' }}</div>
  </div>
</div>
